.salesBar {
    display: flex;
    background-color: snow;
    color: #383874;
    width: 90%;
    height: 86px;
    margin: 5%;
    border-radius: 10px;
    justify-content: space-evenly;
    align-content: stretch;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    gap: 10px;
    
}

.salesChart {
    width: 90%;
    margin-right: 3%;
    flex-grow: 1;
}

.salesChartHeading {
    width: 10%;
    padding: 1%;
    text-align: center;
}